.block {
    margin: 1.25em 0;

    &--nomargin {
        margin:0;
    }

    &__row {

        &__image {
            background-image: url(../../img/counter.png);
            background-size: cover;
            background-position: center;
            min-height: 295px;

            &--bex {
                background-image: url(../../img/rebekah.png);
            }
        }

        &__container {
            padding-top: 1em;
            max-width: 25em;
            margin: 0 auto;
            text-align: center;

            &__cta {
                margin-bottom: 0.25em;
            }

        }



    }
}
