.allergies {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    text-align: center;


    @media(min-width: 48em) {
        margin-top: 3em;
    }

    &__row {

        &__image {
 
            background-image: url(../../img/allergies.PNG);
            background-repeat: no-repeat;
            background-position: center;
            min-height: 161px;

            @media(min-width: 64em) {
                background-image: url(../../img/allergies--large.PNG);
                background-size: contain;
            }
        }

        &__container {
            max-width: 64em;
            margin: 0 auto;
            padding: 1em;
        
            &__cta {

                @media(min-width: 64em) {
                    margin-top: 1.5rem;
                    width: 60%;
                }
            }
        }
    }
}