.allergies {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    text-align: center;

    &--nomargin {
        margin:0;
    }

    &__row{

        &__container {
            max-width: 64em;
            margin: 0 auto;
            padding: 1em;
        }
    }
}