.footer  {
    background-color: $green;
    padding-top: 1.5em;

    &__block {
        color: $white;
        font-size: 0.875rem;

        & p {
            color: $white;
            font-size: 0.875rem;
        }

        &__list { 
            padding-top: 0.75em;

            & dt {
                font-weight: normal;
                
            }

            & li {
                padding-bottom: 1em;

                & a {
                    text-decoration: none;
                    color: $white;
                }
            }

            &__item {  
                &__icon {
                    padding-right: 1em;
                    font-size: 1rem;
                }
            }
        }
    }
}