.footer  {
    background-color: $green;
    padding: 1.5em 0;

    @media(min-width: 48em) {
        padding: 2em;
    }

    &__row {
        max-width: 60em;
        margin: 0 auto;

        &__block {
            color: $white;
            font-size: 0.875rem;

            @media(min-width: 64em) {
                font-size: 1.125rem;
            }

            & p {
                color: $white;
                font-size: 0.875rem;

                @media(min-width: 64em) {
                    font-size: 1.125rem;
                }
            }

            &__list { 
                padding-top: 0.75em;

                & dt {
                    font-weight: normal;
                    
                }

                & li {
                    padding-bottom: 1em;

                    & a {
                        text-decoration: none;
                        color: $white;
                    }
                }

                &__item {  
                    &__icon {
                        padding-right: 1em;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}