.made-to-order {
    &__row {
        background-image: url(../../img/bunting.PNG);
        background-repeat: repeat-x;
        padding-top: 4.5em;
        text-align: center;

        &__container {
            padding-top: 1em;
            max-width: 64em;
            margin: 0 auto;

            &__service {
                background-image: url(../../img/afternoontea.PNG);
                background-size: cover;
                background-position: center;
                height: 288px;
                margin-bottom: 1em;

                &__cta {
                    margin-top: auto;
                    margin-bottom: 0.25em;
                }

                &--no-margin {
                    margin-bottom: 0;
                }
            }
        }
    }
}