.shop {
    margin: 1.25em 0;
    background-color: $green;
  
    &__row {

        &__image {
            background-image: url(../../img/millionaire.PNG);
            background-size: cover;
            background-position: center;
            min-height: 388px;
        }

        &__container {
            max-width: 30em;
            margin: 0 auto;
            text-align: center;
          
            @media(min-width: 48em) {
               padding: 4em 0;
            }


            & h2,
            & p {
                color: $white;
            }

            & h2 {
                padding-top: 0;
            }

            &__cta {
                @media(min-width: 64em) {
                    margin-top: 1.5rem;
                    width: 50%;
                } 
            }
        }

    }
}