.shop {
    margin: 1.25em 0;
    background-color: $green;
  
    &__row {

        &__image {
            background-image: url(../../img/millionaire.PNG);
            background-size: cover;
            background-position: center;
            min-height: 388px;
        }

        &__container {
            max-width: 30em;
            margin: 0 auto;
            text-align: center;
            padding: 1em;


            & h2,
            & p {
                color: $white;
            }
        }

    }
}