@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Andika&family=Pacifico&display=swap');

$ff-heading: 'Amatic SC', cursive;

 h1,
 h2,
 h3,
 h4,
 p {
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
 }

h1 {
    font-family: 'Pacifico', cursive;
    font-size:2rem;
    color: $white;

    @media(min-width: 64em) {
        font-size: 4em;
    }
}

h2, h3, h4, h5, h6 {
    font-family: $ff-heading;
    text-transform: uppercase;
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    color: $green;
    line-height: 0.95;
    padding: 0.25em 0;

    &--white {
        color: $white;
    }

    @media(min-width: 64em) {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.25rem;
    color: $green;
    font-weight: bold;

    @media(min-width: 64em) {
        font-size: 3rem;
        line-height: 1;
        padding-bottom: 0.5em;
    }
}

h4 {
    font-size: 2.25rem;
    color: $white;
    font-weight: bold;

    @media(min-width: 64em) {
        font-size: 3rem;
    }
}

p {
    font-family: 'Andika', cursive;
    font-size: 1rem;
    color: $green;
    line-height: 1.375;
    padding: 0.5em;

    @media(min-width: 64em) {
        font-size: 1.3rem;
        line-height: 1.45;
    }
}